<html>
<body>
<form action="/scrape" method="get" enctype="multipart/form-data">
    <fieldset>
        <label for="spec">Specialization:</label>
        <select name="spec" id="spec">
            <option selected="selected" value="Select -->">Select --&gt;</option>
            <option value="268">Adolescent Medicine</option>
            <option value="129">Anatomical Pathology</option>
            <option value="101">Anesthesiology</option>
            <option value="102">Bacteriology</option>
            <option value="219">Cardiac Surgery</option>
            <option value="134">Cardiology</option>
            <option value="231">Cardiothoracic Surgery</option>
            <option value="128">Cardiovascular and Thoracic Surgery</option>
            <option value="278">Child and Adolescent Psychiatry</option>
            <option value="139">Clinical Immunology</option>
            <option value="222">Clinical Immunology and Allergy</option>
            <option value="263">Clinical Pharmacology</option>
            <option value="270">Clinical Pharmacology and Toxicology</option>
            <option value="202">Colorectal Surgery</option>
            <option value="143">Community Medicine</option>
            <option value="262">Critical Care Medicine</option>
            <option value="103">Dermatology</option>
            <option value="272">Developmental Paediatrics</option>
            <option value="125">Diagnostic and Therapeutic Radiology</option>
            <option value="121">Diagnostic Radiology</option>
            <option value="148">Emergency Medicine</option>
            <option value="152">Endocrinology and Metabolism</option>
            <option value="200">Family Medicine</option>
            <option value="208">Family Medicine (Emergency Medicine)</option>
            <option value="260">FCFP - Family Medicine</option>
            <option value="264">Forensic Pathology</option>
            <option value="273">Forensic Psychiatry</option>
            <option value="135">Gastroenterology</option>
            <option value="275">General Internal Medicine</option>
            <option value="126">General Pathology</option>
            <option value="105">General Surgery</option>
            <option value="274">General Surgical Oncology</option>
            <option value="147">Geriatric Medicine</option>
            <option value="276">Geriatric Psychiatry</option>
            <option value="203">Gynecologic Oncology</option>
            <option value="204">Gynecologic Reproductive Endocrinology &amp; Infertility</option>
            <option value="130">Hematological Pathology</option>
            <option value="137">Hematology</option>
            <option value="149">Infectious Diseases</option>
            <option value="106">Internal Medicine</option>
            <option value="247">Laboratory Medicine</option>
            <option value="265">Maternal Fetal Medicine</option>
            <option value="132">Medical Biochemistry</option>
            <option value="156">Medical Genetics</option>
            <option value="133">Medical Microbiology</option>
            <option value="153">Medical Oncology</option>
            <option value="266">Neonatal-Perinatal Medicine</option>
            <option value="150">Nephrology</option>
            <option value="107">Neurology</option>
            <option value="108">Neurology and Psychiatry</option>
            <option value="131">Neuropathology</option>
            <option value="207">Neuroradiology</option>
            <option value="109">Neurosurgery</option>
            <option value="142">Nuclear Medicine</option>
            <option value="110">Obstetrics</option>
            <option value="111">Obstetrics and Gynecology</option>
            <option value="154">Occupational Medicine</option>
            <option value="112">Ophthalmology</option>
            <option value="113">Orthopedic Surgery</option>
            <option value="114">Otolaryngology - Head and Neck Surgery</option>
            <option value="141">Paediatric Cardiology</option>
            <option value="267">Paediatric Emergency Medicine</option>
            <option value="253">Paediatric Haematology/Oncology</option>
            <option value="246">Paediatric Radiology</option>
            <option value="145">Paediatric Surgery</option>
            <option value="277">Pain Medicine</option>
            <option value="279">Palliative Medicine</option>
            <option value="116">Pathology and Bacteriology</option>
            <option value="232">Pediatric General Surgery</option>
            <option value="115">Pediatrics</option>
            <option value="117">Physical Medicine and Rehabilitation</option>
            <option value="118">Plastic Surgery</option>
            <option value="119">Psychiatry</option>
            <option value="120">Public Health</option>
            <option value="271">Public Health and Preventive Medicine</option>
            <option value="144">Radiation Oncology</option>
            <option value="213">Respirology</option>
            <option value="138">Rheumatology</option>
            <option value="123">Thoracic Surgery</option>
            <option value="259">Transfusion Medicine</option>
            <option value="124">Urology</option>
            <option value="151">Vascular Surgery</option>
        </select>
        <br />
        <input type="submit" value="Go..." />
    </fieldset>
</form>
</body>
</html>